@font-face {
    font-family: Berkeley;
    src: url(font/BerkeleyMonoTrial-Regular.ttf);
}

* {
    box-sizing: border-box;
}

/* var */
:root {
    --black: #131313;
    --grey: #575757;
    --white: #f6f6f6;
    --yellow: #FFEC1A;
    --green: #2BD92B;
    --blue: #0040FF;
}

/* animations */

/* reset */
body, h1, h2, h3, h4, h5, h6, p, span, a, ul, ol, li, div, main, section, article, figure, figcaption, img {
    margin: 0;
    padding: 0;
}

p {
    user-select: none;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

/* font */
h1, h2, h3, h4, h5, h6, p, a, span, section, main, div, li, figcaption {
    font-family: Berkeley, monospace, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--white);
    line-height: 150%;
}

/* styles */
.color-yellow {
    color: var(--yellow);
}

.color-green {
    color: var(--green);
}

.color-blue {
    color: var(--blue);
}

.color-grey {
    color: var(--grey);
}

body {
    height: 100svh;
    width: 100%;
    background-color: var(--black);
    cursor: url('images/cursor.svg'), auto;
}

#bgNoise {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.05;
    filter: blur(0.6px);
}

/* styles - cornerdata*/
.cornerdata {
    --border-cornerdata: 20px;
    position: absolute;
    top: var(--border-cornerdata);
    left: var(--border-cornerdata);
    white-space: nowrap;
    color: var(--grey);
    font-size: 0.8rem;
}

.cornerdata:nth-of-type(1) {
    color: var(--yellow);
    font-size: 1.2rem;
}

.cornerdata:nth-of-type(2) {
    right: var(--border-cornerdata);
    left: auto;
}

.cornerdata:nth-of-type(3) {
    top: auto;
    bottom: 50%;
}

.cornerdata:nth-of-type(4) {
    right: var(--border-cornerdata);
    left: auto;
    top: auto;
    bottom: 50%;
}

.cornerdata:nth-of-type(5) {
    top: auto;
    bottom: var(--border-cornerdata);
}

.cornerdata:nth-of-type(6) {
    top: auto;
    left: auto;
    bottom: var(--border-cornerdata);
    right: var(--border-cornerdata);
}

/* backup skew cornerdata 
.cornerdata:nth-of-type(1) {
    transform: perspective(500px) skew(-5deg, -5deg) rotateY(-5deg);
    transform-origin: right top;
}

.cornerdata:nth-of-type(2) {
    right: var(--border-cornerdata);
    left: auto;
    transform: perspective(500px) skew(5deg, 5deg) rotateY(5deg);
    transform-origin: left top;
}

.cornerdata:nth-of-type(3) {
    top: 50%;
    transform: translateY(-50%);
}

.cornerdata:nth-of-type(4) {
    right: var(--border-cornerdata);
    left: auto;
    top: 50%;
    transform: translateY(-50%);
}

.cornerdata:nth-of-type(5) {
    top: auto;
    bottom: var(--border-cornerdata);
    transform: perspective(500px) skew(5deg, 5deg) rotateY(-5deg);
    transform-origin: right bottom;
}

.cornerdata:nth-of-type(6) {
    top: auto;
    left: auto;
    bottom: var(--border-cornerdata);
    right: var(--border-cornerdata);
    transform: perspective(500px) skew(-5deg, -5deg) rotateY(5deg);
    transform-origin: left bottom;
}
*/

/* styles - terminal */
#terminal {
    width: 80vw;
    height: 100svh;
    padding-bottom: 50svh;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    scrollbar-width: none;
    padding-left: 150px; /* visuel center */
}

#terminal::-webkit-scrollbar {
    display: none;
}

#terminal #terminal-content {
    padding-top: 100px;
    margin: 0 auto;
    width: 40vw;
    max-width: 400px;
    min-height: 100%;
}

#terminal .terminal-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

/* styles - icon */
.windowIcon {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    cursor: pointer;
    user-select: none;
}

.windowIcon svg {
    width: 100%;
    height: auto;
}

.windowIcon p {
    white-space: nowrap;
}

.windowIcon:nth-of-type(2) {
    top: 300px;
}

.windowIcon:nth-of-type(3) {
    top: 500px;
}

/* styles - window */
.window {
    --border-size: 1px;
    --header-height: 36px;
    --header-space-top: 7px;
    position: absolute;
    width: 500px;
    height: 300px;
    background-color: var(--black);
    border: var(--border-size) solid var(--white);
    top: 30%;
    left: 30%;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.2s, transform 0.2s;
    overflow: auto;
    resize: both;
    pointer-events: none;
    min-height: calc(var(--header-height) * 2);
}

#window1 {
    top: 10%;
    left: 10%;
}

#window2 {
    top: 20%;
    left: 20%;
}

#window3 {
    top: 30%;
    left: 30%;
}

.window.show {
    opacity: 1;
    transform: scale(1);
}

.window.active {
    z-index: 100;
}

.window .header, .window .footer {
    position: sticky;
    top: 0;
    left: 0;
    height: var(--header-height);
    width: 100%;
    background-color: var(--black);
    border-bottom: var(--border-size) solid var(--white);
    cursor: grab;
    white-space: nowrap;
}

.window .title {
    color: var(--white);
    position: absolute;
    top: var(--header-space-top);
    left: 10px;
    user-select: none;
    pointer-events: none;
}

.window .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: var(--header-space-top) 10px;
    color: var(--yellow);
    cursor: pointer;
    user-select: none;
}

.window .content {
    cursor: initial;
    padding: 10px;
    min-height: calc(100% - (var(--header-height) * 2));
}

.window .footer {
    top: auto;
    bottom: 0;
    border-top: var(--border-size) solid var(--white);
    border-bottom: none;
    cursor: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--header-space-top) 10px;
    gap: 40px;
}

.window .footer p {
    color: var(--grey);
}

/* styles - window - scrollbar */
.window::-webkit-scrollbar {
    width: calc(var(--header-height) * 0.7);
    height: calc(var(--header-height) * 0.7);
}

.window::-webkit-scrollbar-thumb:vertical {
    background-color: var(--yellow);
    border-left: var(--border-size) solid var(--white);
}

.window::-webkit-scrollbar-track:vertical {
    border-left: var(--border-size) solid var(--white);
}

.window::-webkit-scrollbar-thumb:horizontal {
    background-color: var(--yellow);
    border-top: var(--border-size) solid var(--white);
}

.window::-webkit-scrollbar-track:horizontal {
    border-top: var(--border-size) solid var(--white);
}

.window::-webkit-scrollbar-corner {
    border-top: var(--border-size) solid var(--white);
    border-left: var(--border-size) solid var(--white);
    background-image: url('images/popupwindow_resize.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: calc(var(--header-height) * 0.4);
}